<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API数据接口</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="欢迎进入API控制" />
    <meta name="description" content="欢迎进入API控制" />
    <style type="text/css"></style>
  </head>

  <body>
    <div id="main">
      <%=title %>
      <p><a href="/nab">NBA控制台</a></p>
    </div>
  </body>
</html>
