<!doctype html>
<html lang="en">

<head>
  <title>欢迎进入API控制</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="欢迎进入API控制">
  <meta name="description" content="欢迎进入API控制">
  <style type="text/css">
  
  </style>
</head>

<body>
  
  <div id="main">
   
    <%=title %>
    nba
  </div>
</body>

</html>
