<!doctype html>
<html lang="en">

<head>
  <title>欢迎进入IT开发者云平台！</title>
  <meta charset="UTF-8">
  <meta name="keywords" content="欢迎进入IT开发者云平台！">
  <meta name="description" content="欢迎进入IT开发者云平台！">
  <style type="text/css">
  
  </style>
  <title>nba</title>
</head>

<body>
 
  <div id="main">
    <h1 align="center"><b><%=title %></b></h1>

    <p><a href="/web/daily_list" target="_blank">前端周报</a></p>
   

  </div>
</body>

</html>
